@use '../../../assets/styles/index.scss' as *;

.comment_container {
  display: flex;
  justify-content: space-between;

  color: $info-lighter;
  padding: 16px 0;

  gap: 32px;

  &--main-comment {
    padding: 32px 0;
    border-bottom: 1px solid #8c92b340;
  }
}

.comment_info-container {
  flex-grow: 1;
}

.comment_renderer {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.comment_user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment_user-name {
  display: flex;
  flex-direction: column;

  h4 {
    color: $info-light;
  }

  span {
    font-size: $font-size-xs;
  }
}

.comment_avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  hr {
    margin-top: 23px;
    border: none;
    border: 1px solid #6471961a;

    width: 1px;
    height: 100%;
  }
}

.comment_content {
  p {
    font-size: 15px;
  }
}

.comment_reply {
  > button {
    background: none;
    border: none;
    color: $secondary;
    cursor: pointer;

    @include body3;

    &:hover {
      text-decoration: underline;
    }
  }
}

.comment_reply {
  margin-left: -30px;
}

.comment_replyingTo {
  color: $primary;
  font-weight: bold;
}

.comment_reply-section {
  margin-top: 24px;

  form {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    textarea {
      width: 100%;
      height: 80px;
    }

    button {
      min-width: 121px;
    }
  }
}