@use '../../assets/styles/_mixins.scss' as *;

.board-filters-card_container {
  @include default-card;

  display: flex;
  flex-wrap: wrap;
  align-content: start;
  gap: 8px;

  min-width: 150px;

  overflow-y: auto;
  overflow-x: hidden;

  @include for-tablet {
    flex-grow: 1;
  }

  @include for-mobile {
    display: none;
  }
}