.default-card_container.bg-custom-faded {
  display: flex;
}

.board-welcome-card_container {
  align-self: end;

  @include default-card;
  background-image: url('../../assets/images/suggestions/desktop/background-header.png');
}

.board-welcome-card_subtitle {
  font-weight: 500;
  opacity: 75%;
}