@use '../../assets/styles/_mixins.scss' as *;
@use '../../assets/styles/variables' as *;

.board-roadmap-card_container {
  @include default-card;

  min-width: 223px;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include for-mobile {
    display: none;
  }
}

.board-roadmap-card_heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  
  h3 {
    color: $info-light;
  }
}

.board-roadmap-card_items {
  display: flex;
  flex-direction: column;

  gap: 8px;

  padding-right: 20px;

  overflow-y: auto;
  overflow-x: hidden;
}