@use '../../assets/styles/_mixins.scss' as *;
@use '../../assets/styles/_variables.scss' as *;

.board-welcome-card_container {
  @include default-card;

  display: flex;
  background-image: url('../../assets/images/suggestions/desktop/background-header.png');
  background-repeat: no-repeat;

  min-width: 150px;
  min-height: 137px;

  div {
    align-self: end;
  }

  @include for-tablet {
    background-image: url('../../assets/images/suggestions/tablet/background-header.png');
  }

  @include for-mobile {
    background-image: none;
    background-color: $primary;

    border-radius: 0;

    min-height: 72px;

    flex-grow: 1;
  }
}

.board-welcome-card_subtitle {
  font-weight: 500;
  opacity: 75%;
}