@use '../../assets/styles/mixins' as *;

.home_welcome-card {
  @include default-card;
  background-image: url('../../assets/images/suggestions/desktop/background-header.png');
}
 
.home_filter-card {
  @include default-card;
}

.home_header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 255px;
}

main {
  flex-grow: 1;
}