@use '../../assets/styles/_mixins.scss' as *;

.home_header {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 255px;

  @include for-tablet {
    flex-direction: row;
    gap: 10px;

    max-width: none;
    max-height: 178px;
  }

  @include for-mobile {
    // position: fixed;
  }
}

.home_main-container {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}