@use '../../../../assets/styles/index' as *;

.suggestion-item_container {
  @include default-card;

  padding: 28px 32px;
  color: $info-lighter;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;

  h3 {
    color: $info-light;
  }
}

.suggestion-item_info-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 4px;

  button {
    margin-top: 8px;
    width: fit-content;
  }
}

.suggestion-item_description {
  @include body1;
}