@use '../../../../assets/styles/index' as *;

.suggestion-item_container {
  @include default-card;

  padding: 28px 32px;
  color: $info-lighter;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 40px;

  &:hover {
    cursor: pointer;
    
    h3 {
      color: $secondary;
    }
  }

  h3 {
    color: $info-light;
  }

  @include for-mobile {
    flex-direction: column;
    gap: 15px;

    padding: 25px 24px;
  }
}

.suggestion-item_info-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 4px;

  width: 100%;

  button {
    margin-top: 8px;
    width: fit-content;
  }
}

.suggestion-item_description {
  @include body1;
}

.suggestion-item_comment-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
}