@use '../../assets/styles/variables' as *;

.button {
  padding: 11px 24px;
  border-radius: $base-border-radius * 1.8;
  font-size: $font-size-xs;
  font-weight: 700;
  line-height: 20.23px;
  height: 44px;

  transition: background-color 0.10s ease;
}

.button--add {
  background-color: $primary;
  color: $white;

  &:hover {
    background-color: #C75AF6;
  }
}

.button--cancel {
  background-color: $info-light;
  color: $white;

  &:hover {
    background-color: #656EA3;
  }
}

.button--delete {
  background-color: $warning;
  color: $white;

  &:hover {
    background-color: #E98888;
  }
}