.category-button {
  background-color: $neutral;
  color: $secondary;
  border-radius: 10px;
  @include body3;

  transition: background-color 0.15s ease;

  &--active {
    background-color: $secondary;
    color: $white;
  }

  &:hover:not(&--active) {
    background-color: $neutral-light;
  }
}