@use '../../assets/styles/variables' as *;

.textarea_control {
  background-color: $neutral-lighter;
  color: $info-light;
  
  border: none;
  border-radius: 5px;
  padding: 12px 24px;

  font-size: 15px;
  line-height: 21.68px;
  font-weight: 400;
}

.textarea_control:focus {
  outline: 1px solid $secondary;
}