@use 'variables' as *;
@use 'mixins' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 74.5%;
	margin: 0 auto;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 30px;

	@include for-tablet {
    width: 90%;
  }

	@include for-mobile {
		width: 100%;
		margin: 0;

    gap: 0;
  }
}

html,
body {
	max-width: 100vw;
	// overflow-x: hidden;
	font-family: $base-font;
	font-size: $base-font-size;
	font-weight: 400;
}

body {
	color: $black;	
	background: $neutral-lighter;
	padding: 92px 0;

	@include for-tablet {
		padding: 56px;
	}

	@include for-mobile {
		padding: 0px;
	}
}

h1 {
	font-size: $font-size-xl;
	font-weight: 700;
	line-height: 35px;
	letter-spacing: -0.33px;
}

h2 {
	font-size: $font-size-lg;
	font-weight: 700;
	line-height: 29px;
	letter-spacing: -0.25px;
}

h3 {
	font-size: $font-size-sm;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: -0.25px;
}

h4 {
	font-size: $font-size-xs;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: -0.2px;
}

span {
	font-family: $base-font;
}

button {
	height: 30px;
	padding: 0 1rem;
	border: none;
	cursor: pointer;
}