@use 'variables' as *;
@use 'mixins' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	width: 74.5%;
	margin: 0 auto;
	min-height: 100vh;
	padding: 92px 0;

	display: flex;
	flex-direction: row;
	gap: 30px;

	@include for-tablet {
    width: 90%;
		padding: 56px 0;

		flex-direction: column;
  }

	@include for-mobile {
		width: 100%;
		margin: 0;
		padding: 0px;

		flex-direction: column;

    gap: 0;
  }
}

html,
body {
	max-width: 100vw;
	min-height: 100vh;
	// overflow-x: hidden;
	font-family: $base-font;
	font-size: $base-font-size;
	font-weight: 400;
}

body {
	color: $black;	
	background: $neutral-lighter;
}

h1 {
	@include h1;
}

h2 {
	@include h2;
}

h3 {
	@include h3;
}

h4 {
	@include h4;
}

span {
	font-family: $base-font;
}

button {
	height: 30px;
	padding: 0 1rem;
	border: none;
	cursor: pointer;
}