@use 'variables' as *;

@mixin default-card {
  border-radius: $base-border-radius;
  padding: $base-padding;
  background-color: $white;
}

@mixin body1 {
  font-size: $base-font-size; // 16px
  line-height: 23px;
  font-weight: 400;
}

@mixin body2 {
  font-size: $base-font-size * 0.9375; // 15px
  line-height: 22px;
  font-weight: 400;
}

@mixin body3 {
  font-size: $base-font-size * 0.8125; // 13px
  line-height: 19px;
  font-weight: 600;
}

@mixin for-tablet {
  @media (max-width: 1317px) {
    @content;
  }
}